#kalender {
    padding: 15px;
    background-color: lightgray;
}

.uke {
    margin: 0px;
    border-radius: 5%;
    width: auto;
    height: 130px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dag {
    text-align: center;
    border: none 1px solid;
    border-radius: 3%;
    background: #889090;
    margin: 3px;
    font-size: 1.2em;
}

body {
    background-color: lightgray;
}