#kalender {
    border-radius: 1%;
    padding: 4px;
    background-color: lightgray;
}

.uke {
    margin: 0px;
    border-radius: 5%;
    width: auto;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dag {
    text-align: center;
    border: none 1px solid;
    border-radius: 3%;
    background: #889090;
    margin: 2px;
    font-size: small;
}

body {
    background-color: lightgray;
}