.arrow-down {
  top: 3px;
    width: 0; 
    height: 0; 
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    
    border-top: 18px solid #999;
  }
.arrow-left {
    top: 16px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    
    border-right:15px solid #999; 
  }
#dropDown {
    position: absolute;
    right: 5px;
    
}

