html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--backCol);
  
}
#kalender {
  background-color: var(--backCol);
}
label {
  color: var(--fontCol);
}

.uke {
  margin: 0px;
  border-radius: 5%;
  width: auto;
  height: 130px;
  display: grid;
  grid-template-columns: repeat(5, 2fr) repeat(2, 1fr);
}

.dag, .ukeNr, #themeToggle {
  text-align: center;
  border: none 1px solid;
  border-radius: 4%;
  background-color: var(--accentCol);
  margin: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 1.0em;
  color: var(--fontCol);
}
.dag:hover {
  border: 2px solid #aaaaaa;
}
.ukeNr, #themeToggle {
  background: var(--accentCol);
  color: var(--fontCol);
  border-radius: 7px;
  font-size: 1.2rem;
  font-weight: 700;

}

textarea {
  border: none;
  resize: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-aspect-ratio: 1/1) {
  #kalender {

    margin: -7px;
    margin-top: 0px;
  }
  .dag {
    margin: 1px;
    margin-top: 7px;
    margin-bottom: 7px;

    font-size: 0.7em;
  }
  .ukeNr {
    margin: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1em;
  }
  .dag:hover {
    border: 0px solid #aaaaaa;
  }
}
.weekend {
  background: var(--weekendCol);
}
#themeToggle {
  background-color: var(--btnCol);
  position: relative;
  right: 0px;
  padding: 4px;
  user-select: none;
}