#kalender {
  background-color: lightgray;
}

.uke {
  margin: 0px;
  border-radius: 5%;
  width: auto;
  height: 130px;
  display: grid;
  grid-template-columns: repeat(5, 2fr) repeat(2, 1fr);
}

.dag, .ukeNr{
  text-align: center;
  border: none 1px solid;
  border-radius: 3%;
  background: #889090;
  margin: 3px;
  font-size: 1.0em;
}

.ukeNr {
  background: #222b2c;
  color: white;
  border-radius: 7px;
  

}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
  
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-aspect-ratio: 1/1) {
  #kalender {
    margin: -7px;
  }
  .dag {
    margin: 1px;
    font-size: 0.6em;
  }
  .ukeNr {
    margin: 0px;
  }
}
@media (pointer:none), (pointer:coarse) {
  #kalender {
    margin: -8px;
  }
  .dag {
    margin: 1px;
    font-size: 0.8em;
  }
  .ukeNr {
    margin: 1px;
  }
}
form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#sign {
  padding: 16px;
  max-width: 400px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

