body {
	font-family: "Verdana";
	color: white;
/*	background-color: #3d3d3d; */
	background-color: #323245;
	background-color: #252533;

}

h1 {
	font-family: "Verdana";
	color: rgb(255, 255, 255);
}
a {
	text-decoration: none;
}
.links{
	text-decoration: none;
	color: rgb(121, 121, 255);
	font-size:40px;
	font-weight:700;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(79, 94, 133);
}

li {
	float: left;
}





