body {
	font-family: "Verdana";

}

h1 {
	font-family: "Verdana";
	color: black;
}
a {
	text-decoration: none;
}
.links{
	text-decoration: none;
	color: blue;
	font-size:40px;
	font-weight:700;
}

.indexGrid{
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	border:1px solid black;
	background-color: lightgrey;
	text-align: center;
}


