p {
    position: relative;
    width: 70vw;
}
article h1 {
    color: green;
}
article > h1 {
    color: rgb(97, 97, 252);
}

tr {
    border-collapse: collapse;

}
th {
    border: 1px solid black;
    padding: 5px;

}
thead {
    background-color: rgb(49, 108, 88);

}
table {
    border-collapse: collapse;

}
h1 {
    font-size: 2em;
}

.intel {
    position: relative;
    right: 10px;
    width: 25vw;
    padding: 1em;
}
#amd {
    position: relative;
    right: 10px;
    width: 25vw;
}
#nvidia {
    position: relative;
    right: 10px;
    width: 25vw;

}
#qualcomm {
    position: relative;
    left: -110px;

}