

article h1 {
    color: green;
}

article > h1 {
  color:blue;
}

img {
  width: 200px;
}
tr {
  border-collapse: collapse;

}
th {
  border: 1px solid black;
  padding: 5px;

}
thead {
  background-color: rgb(49, 108, 88);

}
table {
  border-collapse: collapse;

}
h1 {
  font-size: 2em;
}
#intel {
  position: absolute;
  right: 10px;
  width: 15em;
  width: 25vw;
}
#amd {
  position: absolute;
  right: 10px;
  width: 25vw;
}
#nvidia {
  position: absolute;
  right: 10px;
  width: 25vw;
} 
