#liste {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 800px;
    border: black 1px solid;
    text-align: center;
}

#liste > div {
    font-size: 1.5em;
    padding: 5px;
    border: black 1px solid;
}

h1 {
   text-align: center;
   width: 800px;
}