.prom-collapsible-list { display: block; }

.prom-collapsible-list__buttonwrapper { background: transparent; display: block; position: relative; text-align: center; z-index: 1; }

.prom-collapsible-list__buttonwrapper::before { border-top: 2px solid white; content: ""; display: block; position: absolute; top: calc(50% - 1px); width: 100%; z-index: -1; }

.prom-collapsible-list__button { background-color: transparent; border: 3px solid transparent; border-radius: 100vw; padding: 2px; }

.prom-collapsible-list__button:focus { border-color: #2879C7; outline: none; }

.prom-collapsible-list__button:hover > .prom-collapsible-list__innerbutton { background-color: grey; }

.prom-collapsible-list__innerbutton { align-items: center; background-color: white; border: 0; border-radius: 100vw; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); color: black; cursor: pointer; display: inline-flex; font-family: "Open Sans", sans-serif; font-size: 14px; margin: auto; padding: 7px 7px 7px 15px; }

.prom-collapsible-list__innerbutton:hover { background-color: grey; }

.prom-collapsible-list__buttontext { color: black; font-size: 14px; font-weight: 700; margin-right: 15px; text-align: center; word-break: break-word; }

.prom-collapsible-list__buttoncounter { background-color: black; border-radius: 13px; box-sizing: border-box; color: white; font-size: 12px; font-weight: 700; height: 26px; line-height: 16px; min-width: 26px; padding: 5px; width: auto; }

.prom-collapsible-list__buttontoggle { border-color: black; border-style: solid; border-width: 2px 2px 0 0; display: inline-block; flex: 0 0 auto; height: 7px; margin-left: 2px; margin-right: 10px; transform: translateY(-2px) rotate(135deg); width: 7px; }

.prom-collapsible-skiplist { background-color: transparent; border: 0; color: black; display: block; font-size: 0; margin: auto; padding: 2px; text-align: center; text-decoration: underline; width: 100%; }

.prom-collapsible-skiplist:not(:focus) { cursor: default; pointer-events: none; }

.prom-collapsible-skiplist:focus { font-size: 12px; }

.prom-collapsible-skiplist[aria-hidden="true"] { display: none; }

.prom-collapsible-list__list { list-style-type: none; margin: 0; padding: 0; }

.prom-collapsible-list__list > li { display: inline-block; width: 100%; }

.prom-collapsible-list__list[aria-hidden~="true"] { display: none; }

.prom-collapsible-list--open .prom-collapsible-list__buttonwrapper::before { border-top-color: black; }

.prom-collapsible-list--open .prom-collapsible-list__button .prom-collapsible-list__innerbutton { background-color: black; }

.prom-collapsible-list--open .prom-collapsible-list__buttontext { color: white; }

.prom-collapsible-list--open .prom-collapsible-list__buttontoggle { border-color: white; transform: translateY(2px) rotate(-45deg); }

.prom-collapsible-list--open .prom-collapsible-list__buttoncounter { background-color: white; color: black; flex-grow: 0; flex-shrink: 0; }

.prom-collapsible-list__button:hover .prom-collapsible-list__innerbutton { background-color: #D5C9D6; }

.prom-collapsible-list__button:hover .prom-collapsible-list__buttonwrapper::before { border-top-color: #C6BEC4; }

.prom-collapsible-list__buttontext { color: #444059; }

.prom-collapsible-list__buttontoggle { border-color: #444059; }

.prom-collapsible-list__buttoncounter { background-color: #645862; }

.prom-collapsible-list--open .prom-collapsible-list__buttonwrapper::before { border-top-color: #645862; }

.prom-collapsible-list--open .prom-collapsible-list__button .prom-collapsible-list__innerbutton { background-color: #645862; }

.prom-collapsible-list--open .prom-collapsible-list__button:hover .prom-collapsible-list__innerbutton { background-color: #D5C9D6; }

.prom-collapsible-list--open .prom-collapsible-list__button:hover .prom-collapsible-list__buttontext { color: #444059; }

.prom-collapsible-list--open .prom-collapsible-list__button:hover .prom-collapsible-list__buttontoggle { border-color: #444059; }

.prom-collapsible-list--open .prom-collapsible-list__button:hover .prom-collapsible-list__buttoncounter { background-color: #645862; color: white; }

.prom-collapsible-list--open .prom-collapsible-list__buttontoggle { border-color: white; }

.prom-collapsible-list--open .prom-collapsible-list__buttontext { color: white; }

.prom-collapsible-list--open .prom-collapsible-list__buttoncounter { background-color: white; color: #444059; }

.prom-collapsible-list--open .prom-collapsible-skiplist { color: #645862; }

/** Load all project specific styling here. */
.tasklist2 { width: 100%; }

.tasklist2 section { margin-bottom: 10px; }

.tasklist2 section.prom-collapsible-list--open { margin-bottom: 30px; }

.tasklist2 section:not(.prom-collapsible-list--open) { margin-bottom: 20px; }

.tasklist2 section:nth-last-child(2) { margin-bottom: 0; }

.tasklist2 .prom-collapsible-list__list > li:not(:first-child) .tasklist2__course { margin-top: 15px; }

.tasklist2_header { align-items: center; padding-left: 10px; display: flex; margin-bottom: 30px; }

.tasklist2_header > h2 { color: #645862; flex-grow: 1; flex-shrink: 1; font-size: 18px; font-weight: 700; background: url("../../Common/semiotic/icons/check--gray-purple--700.febe9fcd.svg") no-repeat 0; background-size: 18px 18px; margin: 0; padding-left: 32px; }

.tasklist2_header > button { background: transparent; border: 3px solid transparent; border-radius: 8px; color: #756372; font-size: 14px; font-weight: 500; padding: 10px; }

.tasklist2_header > button > span { border-bottom: 2px solid transparent; }

.tasklist2_header > button:focus { border-color: #2879C7; outline: none; }

.tasklist2_header > button.active > span, .tasklist2_header > button.focus > span { border-bottom-color: #3C343B; color: #3C343B; font-weight: 900; }

a.tasklist2_backto { color: #645862; display: block; font-size: 0; margin: auto; padding: 2px; text-align: center; }

a.tasklist2_backto:not(:focus) { cursor: default; pointer-events: none; }

a.tasklist2_backto:focus { font-size: 12px; }

.tasklist__emptystate { padding: 10px; font-size: 14px; }

.tasklist__loadingstate { padding: 10px; font-size: 14px; }

.tasklist2__list { list-style-type: none; margin: 0; padding: 0; }

.tasklist2__taskitem { display: block; font-size: 14px; width: 100%; margin-bottom: 15px; }

.tasklist2__taskitem:hover .tasklist2__task { border-color: #756372; }

.tasklist2__taskitem:focus { outline: none; }

.tasklist2__taskitem:focus .tasklist2__task { border-color: transparent; }

.tasklist2__taskitem:focus .tasklist2__taskwrapper { border-color: #2879C7; }

.tasklist2__course { align-items: center; color: #333333; display: flex; font-size: 16px; font-weight: 700; margin: 0 20px 12px 0; }

.tasklist2__course > span { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.tasklist2__course > span:first-child { border-radius: 50%; content: ''; display: inline-block; flex-grow: 0; flex-shrink: 0; height: 16px; margin: 0 10px 0 20px; width: 16px; }

.tasklist2__taskwrapper { border: 3px solid transparent; border-radius: 8px; }

.tasklist2__task { align-items: center; background-color: #F9F9F9; border: 2px solid #F9F9F9; border-radius: 4px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); display: flex; line-height: 41px; padding: 0 15px; }

.tasklist2__task > img { flex-shrink: 0; flex-grow: 0; height: 24px; margin-right: 10px; width: 24px; }

.tasklist2__task > span { color: #333333; font-weight: 700; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.tasklist2__extra { color: #333333; font-size: 12px; line-height: 1.5; margin: 5px 20px 10px 10px; padding: 0 0 0 45px; }

.tasklist2__extra > div { display: inline-block; }

.tasklist2__extra > div::first-letter { text-transform: uppercase; }

.tasklist2__extra > div:not(:last-child):not(.tasklist2__extra__completed)::after { content: '\00b7'; display: inline-block; font-weight: bold; margin: 0; padding: 0 0 0 4px; }

.tasklist2__extra .tasklist2__extra__completed:not(:last-child) { padding-right: 20px; }

.tasklist2__info { font-weight: 700; }

.sr-only { /* screen reader only */ height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }

.itsl-cb-tasks > .il-widget-top, .itsl-cb-tasks > .itsl-widget-toolbar { display: none; }
