.prom-button {
  background-color: transparent;
  border: 0;
  min-width: 80px;
  padding: 0;
  position: relative; }
  .prom-button:focus {
    outline: none; }
    .prom-button:focus::after {
      background-color: transparent;
      border: 3px solid grey;
      border-radius: 8px;
      bottom: -5px;
      content: "";
      left: -5px;
      position: absolute;
      right: -5px;
      top: -5px; }
  .prom-button[disabled], .prom-button[data-active="false"] {
    cursor: default; }
  .prom-button[data-active="true"] {
    cursor: pointer; }

.prom-button__text {
  -webkit-box-align: center;
          align-items: center;
  background-color: white;
  border: 2px solid darkgray;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  display: -webkit-box;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-pack: center;
          justify-content: center;
  line-height: 18px;
  min-width: 44px;
  padding: 5px 18px;
  position: relative; }

.prom-button__text--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.prom-button--loading > .prom-button__text::before {
  -webkit-animation: spin 1s steps(8, end) infinite;
          animation: spin 1s steps(8, end) infinite;
  background-image: url("../../Common/semiotic/icons/spinner--black.0bd3999d.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 18px;
  left: calc(50% - 9px);
  position: absolute;
  top: 5px;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 18px; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.prom-button--loading > .prom-button__text > span {
  visibility: hidden; }

.prom-button--large > .prom-button__text {
  height: 40px;
  padding: 9px 22px; }

.prom-button--large.prom-button--loading > .prom-button__text::before {
  top: 9px; }

.prom-button + .prom-button {
  margin-left: 20px; }

.prom-button.prom-icon-button {
  background-size: 0; }
  .prom-button.prom-icon-button .prom-button__text {
    background-image: inherit;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    padding-left: calc((3px * 3) + 1.2rem); }

.prom-button.prom-icon-button--icon-only {
  min-width: 32px; }
  .prom-button.prom-icon-button--icon-only::before {
    bottom: -4px;
    top: -4px; }
  .prom-button.prom-icon-button--icon-only .prom-button__text {
    background-size: 1.4rem;
    height: 32px;
    min-width: inherit;
    padding-left: 0;
    width: 32px; }

.prom-button.prom-icon-button--text-only .prom-button__text {
  padding-left: 18px; }

.prom-button--large.prom-icon-button .prom-button__text {
  background-position: 18px 5px;
  background-size: 1.5rem;
  padding-left: calc(36px + 1.2rem); }

.prom-button--large.prom-icon-button--text-only .prom-button__text {
  padding-left: 18px; }

.prom-dropdown {
  background: white;
  border-radius: 4px;
  bottom: 0;
  color: #333333;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-height: 325px;
  padding-top: 4px;
  position: fixed;
  right: 0;
  width: 100vw;
  z-index: 3000; }
  @media only screen and (min-width: 480px) {
    .prom-dropdown {
      bottom: initial;
      max-height: initial;
      padding-top: initial;
      right: initial;
      width: 250px; } }
  .prom-dropdown.prom-dropdown--not-responsive {
    bottom: initial;
    max-height: initial;
    padding-top: 0;
    right: initial;
    width: 250px; }
    .prom-dropdown.prom-dropdown--not-responsive .prom-dropdown__bodygradient-top {
      display: none; }
  .prom-dropdown[hidden] {
    display: none; }
  @media only screen and (min-width: 480px) {
    .prom-dropdown .arrow-top {
      border-bottom: 8px solid white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      height: 0;
      left: 15px;
      position: absolute;
      top: -8px;
      width: 0; } }
  @media only screen and (min-width: 480px) {
    .prom-dropdown .arrow-bottom {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid white;
      bottom: -8px;
      height: 0;
      left: 15px;
      position: absolute;
      width: 0; } }
  .prom-dropdown .prom-dropdown__body {
    background: inherit;
    border-radius: 4px; }
    .prom-dropdown .prom-dropdown__body li {
      list-style: none; }
    .prom-dropdown .prom-dropdown__body ul {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0; }
  @supports (display: grid) {
    .prom-dropdown .prom-dropdown__body {
      overflow-y: auto; } }
  .prom-dropdown .prom-dropdown__bodygradient-top {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(#fff));
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
    height: 10px;
    opacity: .5;
    position: fixed;
    width: 100%; }
    @media only screen and (min-width: 480px) {
      .prom-dropdown .prom-dropdown__bodygradient-top {
        display: none; } }

.prom-dropdown__listheader {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-transform: uppercase; }
  .prom-dropdown__listheader:first-child {
    margin-top: 20px; }

.prom-dropdown__listitems {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  height: 40px; }

.prom-dropdown__listitem {
  -webkit-box-align: center;
          align-items: center;
  border: 3px solid transparent;
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  font-weight: 600;
  padding: 0 15px 0 30px; }
  .prom-dropdown__listitem:focus {
    border: 3px solid black;
    outline: none; }
    .prom-dropdown__listitem:focus:hover {
      border-radius: 8px; }
  .prom-dropdown__listitem:hover {
    background: #4A4A4A;
    border-radius: 0;
    color: white; }

.prom-dropdown__listitem-link {
  color: inherit;
  height: inherit;
  padding: 0 15px 0 30px;
  text-decoration: none; }

.prom-dropdown__listitem-action {
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  height: inherit;
  text-align: left;
  width: 100%; }

.prom-dropdown__listitems-icon {
  box-sizing: content-box;
  padding-right: 10px; }

@media only screen and (min-width: 480px) {
  .prom-button-dropdown .prom-dropdown {
    top: 64px; } }

.prom-button-dropdown .prom-dropdown .arrow-top {
  left: 202px; }

.prom-button-dropdown-icon {
  background-image: url("../../Common/semiotic/icons/plus--white.48e0045f.svg"); }

.prom-button-dropdown-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3000; }
  .prom-button-dropdown-overlay.prom-button-dropdown-overlay--visible {
    display: block; }
    @media only screen and (min-width: 480px) {
      .prom-button-dropdown-overlay.prom-button-dropdown-overlay--visible {
        display: none; } }

.prom-button:focus::after {
  border-color: #2879C7; }

.prom-button__plain > .prom-button__text {
  background-color: transparent;
  border: 0;
  color: #756372;
  text-decoration: underline; }
  .prom-button__plain > .prom-button__text:hover {
    color: #754587; }
  .prom-button__plain > .prom-button__text:active {
    color: #663D76; }
  .prom-button__plain > .prom-button__text:disabled {
    color: #9B9B9B; }

.prom-button__basic > .prom-button__text {
  background-color: #FFFFFF;
  border-color: #51B893;
  color: #298071; }
  .prom-button__basic > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--green--700.5bbe3ee6.svg"); }

.prom-button__basic:hover > .prom-button__text {
  background-color: #166758;
  border-color: #166758;
  color: #FFFFFF; }
  .prom-button__basic:hover > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__basic:active > .prom-button__text {
  background-color: #156455;
  border-color: #156455;
  color: #FFFFFF; }
  .prom-button__basic:active > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__basic:disabled > .prom-button__text {
  background-color: #E1E1E1;
  border-color: #9B9B9B;
  color: #757575; }
  .prom-button__basic:disabled > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--black.0bd3999d.svg"); }

.prom-button__primary > .prom-button__text {
  background-color: #008859;
  border-color: #008859;
  color: #FFFFFF; }
  .prom-button__primary > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__primary:hover > .prom-button__text {
  background-color: #166758;
  border-color: #166758;
  color: #FFFFFF; }
  .prom-button__primary:hover > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__primary:active > .prom-button__text {
  background-color: #156455;
  border-color: #156455;
  color: #FFFFFF; }
  .prom-button__primary:active > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__primary:disabled > .prom-button__text {
  background-color: #E1E1E1;
  border-color: #9B9B9B;
  color: #757575; }
  .prom-button__primary:disabled > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--black.0bd3999d.svg"); }

.prom-button__secondary > .prom-button__text {
  background-color: #FFFFFF;
  border-color: #A393A1;
  color: #4B444A; }
  .prom-button__secondary > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--gray-purple--800.2a59e341.svg"); }

.prom-button__secondary:hover > .prom-button__text {
  background-color: #645862;
  border-color: #645862;
  color: #FFFFFF; }
  .prom-button__secondary:hover > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__secondary:active > .prom-button__text {
  background-color: #4B444A;
  border-color: #4B444A;
  color: #FFFFFF; }
  .prom-button__secondary:active > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__secondary:disabled > .prom-button__text {
  background-color: #E1E1E1;
  border-color: #9B9B9B;
  color: #757575; }
  .prom-button__secondary:disabled > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--black.0bd3999d.svg"); }

.prom-button__destructive > .prom-button__text {
  background-color: #CF4444;
  border-color: #CF4444;
  color: #FFFFFF; }
  .prom-button__destructive > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__destructive:hover > .prom-button__text {
  background-color: #932D28;
  border-color: #932D28;
  color: #FFFFFF; }
  .prom-button__destructive:hover > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__destructive:active > .prom-button__text {
  background-color: #742420;
  border-color: #742420;
  color: #FFFFFF; }
  .prom-button__destructive:active > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__destructive:disabled > .prom-button__text {
  background-color: #E1E1E1;
  border-color: #9B9B9B;
  color: #757575; }
  .prom-button__destructive:disabled > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--black.0bd3999d.svg"); }

.prom-button__basic-negative > .prom-button__text {
  background-color: #645862;
  border-color: #645862;
  color: #FFFFFF; }
  .prom-button__basic-negative > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__basic-negative:hover > .prom-button__text {
  background-color: #FFFFFF;
  border-color: #A393A1;
  color: #4B444A; }
  .prom-button__basic-negative:hover > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--gray-purple--800.2a59e341.svg"); }

.prom-button__basic-negative:active > .prom-button__text {
  background-color: #4B444A;
  border-color: #4B444A;
  color: #FFFFFF; }
  .prom-button__basic-negative:active > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--white.312ef494.svg"); }

.prom-button__basic-negative:disabled > .prom-button__text {
  background-color: #E1E1E1;
  border-color: #9B9B9B;
  color: #757575; }
  .prom-button__basic-negative:disabled > .prom-button__text::before {
    background-image: url("../../Common/semiotic/icons/spinner--black.0bd3999d.svg"); }

.prom-dropdown {
  color: #333333; }
  @media only screen and (min-width: 480px) {
    .prom-dropdown {
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2); } }
  .prom-dropdown.prom-dropdown--not-responsive {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2); }

.prom-dropdown__listheader {
  color: #565656;
  font-family: "Open Sans", sans-serif; }

.prom-dropdown__listitems {
  font-family: "Open Sans", sans-serif; }

.prom-dropdown__listitem {
  color: #565656; }
  .prom-dropdown__listitem:focus {
    border: 3px solid #2879C7; }
  .prom-dropdown__listitem:hover {
    background: #F2F0F5;
    color: #565656; }

a.prom-dropdown__listitem-link {
  color: #565656; }

.prom-banner {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  width: 100%; }

.prom-banner__icon {
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  height: 28px;
  margin-left: 20px;
  margin-right: 10px;
  width: 28px; }

.prom-banner--info {
  background-color: #ECF8FF; }
  .prom-banner--info .prom-banner__icon {
    background-image: url("../../Common/semiotic/icons/info-circle--blue--700.27e2aee9.svg"); }

.prom-banner--warning {
  background-color: #FFDB98; }
  .prom-banner--warning .prom-banner__icon {
    background-image: url("../../Common/semiotic/icons/exclamation-circle--yellow--800.03740084.svg"); }

.prom-banner__message {
  color: #333333;
  -webkit-box-flex: 1;
          flex-grow: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  padding: 1rem 0; }
  .prom-banner__message a {
    color: #00458F;
    padding: 0 2px 0.18; }
    .prom-banner__message a:focus {
      border-radius: 4px;
      box-shadow: 0 0 0 3px #2879C7;
      outline: none; }
    .prom-banner__message a:hover {
      color: #00458F; }
    .prom-banner__message a:active {
      color: #00458F; }
    .prom-banner__message a:visited {
      color: #754587; }
      .prom-banner__message a:visited:hover {
        color: #754587; }
      .prom-banner__message a:visited:active {
        color: #754587; }

.prom-banner__close {
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0.5rem;
  padding: 2px; }
  .prom-banner__close:focus {
    border-color: #2879C7;
    outline: none; }
  .prom-banner__close::-moz-focus-inner {
    border: 0; }
  .prom-banner__close::before {
    background-image: url("../../Common/semiotic/icons/close-solid--gray--700.33e210ed.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 18px;
    justify-self: flex-end;
    vertical-align: middle;
    width: 18px; }

.prom-banner__close-text {
  /* screen reader only */
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px; }

.prom-banner__message a {
  color: #0055B0;
  padding: 0 2px 0.18; }
  .prom-banner__message a:focus {
    border-radius: 4px;
    box-shadow: 0 0 0 3px #2879C7;
    outline: none; }
  .prom-banner__message a:hover {
    color: #00458F; }
  .prom-banner__message a:active {
    color: #00458F; }
  .prom-banner__message a:visited {
    color: #754587; }
    .prom-banner__message a:visited:hover {
      color: #754587; }
    .prom-banner__message a:visited:active {
      color: #754587; }

.prom-modal {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.prom-modal__dialog {
  background: white;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0.75rem 1.25rem 1.25rem;
  width: 100vw; }

.prom-modal__header {
  display: -webkit-box;
  display: flex;
  margin-bottom: 0.5rem;
  min-height: 2rem; }

.prom-modal__heading {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 36px;
  -webkit-box-flex: 1;
          flex: 1;
  line-height: 40px;
  margin: 0; }

.prom-modal__body {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  position: relative; }
  .prom-modal__body::after {
    clear: both;
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 0 !important;
    width: 100%; }

.prom-modal__button-container {
  margin-top: 1rem; }

.prom-modal__close {
  border: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  background: transparent;
  right: .4rem;
  top: .1rem; }
  .prom-modal__close:not(:disabled) {
    cursor: pointer; }
  .prom-modal__close::before {
    background-image: url("../../Common/semiotic/icons/close--gray--600.21ac32c6.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
    vertical-align: middle; }
  .prom-modal__close > span {
    vertical-align: middle; }

.prom-modal__close__text {
  /* screen reader only */
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px; }

.prom-modal__footer {
  position: relative;
  width: 100%; }

.prom-modal__dialog--has-scroll .prom-modal__body__content {
  padding-bottom: 2rem; }

.prom-modal__dialog--has-scroll .prom-modal__footer::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 75%);
  content: "";
  height: 2rem;
  left: 0;
  position: absolute;
  top: -2rem;
  width: calc(100% - 1rem); }

@media only screen and (min-width: 640px) {
  .prom-modal {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center; }
  .prom-modal__dialog {
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    font-family: "Open Sans", sans-serif;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    min-height: auto;
    padding: 0.75rem 1.25rem 1.25rem;
    width: 42rem; }
  .prom-modal__body {
    overflow: auto; } }

@media only screen and (min-width: 1024px) {
  .prom-modal__dialog {
    max-height: calc(100% - 110px - 1rem); } }

.prom-modal__dialog {
  background: #F4F4F4; }

.prom-modal__heading {
  color: #645862; }

.prom-modal__dialog--has-scroll .prom-modal__footer::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0)), color-stop(75%, #f4f4f4));
  background: linear-gradient(to bottom, rgba(244, 244, 244, 0) 0%, #f4f4f4 75%); }

.prom-cell {
  border-bottom: 1px solid #ECECEC;
  overflow: hidden;
  padding: 0.25rem; }
  .prom-cell:focus {
    border-color: #5497DB; }
  .prom-cell.prom-cell__header {
    font-weight: 600;
    text-align: left;
    text-transform: uppercase; }
  .prom-cell.prom-cell--priority-3 {
    display: none; }
    @media only screen and (min-width: 640px) {
      .prom-cell.prom-cell--priority-3 {
        display: table-cell; } }
  .prom-cell.prom-cell--priority-2 {
    display: none; }
    @media only screen and (min-width: 480px) {
      .prom-cell.prom-cell--priority-2 {
        display: table-cell; } }

.prom-list-element {
  -webkit-box-align: stretch;
          align-items: stretch;
  background: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .prom-list-element:hover {
    background: #F3F0F6; }
  .prom-list-element.prom-list-element--header {
    background-color: #F9F9F9;
    color: black; }
    @media only screen and (min-width: 480px) {
      .prom-list-element.prom-list-element--header {
        display: table-row; } }
    .prom-list-element.prom-list-element--header:hover {
      background: #F9F9F9; }
  .prom-list-element.prom-list-element--checked {
    background: #E6F8F3; }

.prom-list {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%; }

.prom-list-element.prom-list-element--header {
  color: #565656; }

.prom-cell {
  border-bottom: 1px solid #ECECEC;
  overflow: hidden;
  padding: 0.25rem; }
  .prom-cell:focus {
    border-color: #5497DB; }
  .prom-cell.prom-cell__header {
    font-weight: 600;
    text-align: left;
    text-transform: uppercase; }
  .prom-cell.prom-cell--priority-3 {
    display: none; }
    @media only screen and (min-width: 640px) {
      .prom-cell.prom-cell--priority-3 {
        display: table-cell; } }
  .prom-cell.prom-cell--priority-2 {
    display: none; }
    @media only screen and (min-width: 480px) {
      .prom-cell.prom-cell--priority-2 {
        display: table-cell; } }

.prom-list-element {
  -webkit-box-align: stretch;
          align-items: stretch;
  background: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .prom-list-element:hover {
    background: #F3F0F6; }
  .prom-list-element.prom-list-element--header {
    background-color: #F9F9F9;
    color: black; }
    @media only screen and (min-width: 480px) {
      .prom-list-element.prom-list-element--header {
        display: table-row; } }
    .prom-list-element.prom-list-element--header:hover {
      background: #F9F9F9; }
  .prom-list-element.prom-list-element--checked {
    background: #E6F8F3; }

.prom-list {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%; }

.prom-cell__icon {
  overflow: hidden;
  padding: 0.25rem;
  vertical-align: middle;
  width: auto; }
  .prom-cell__icon.prom-cell__header > span {
    /* screen reader only */
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; }
  .prom-cell__icon .prom-cell__icon-content {
    display: -webkit-box;
    display: flex; }
    .prom-cell__icon .prom-cell__icon-content > span {
      -webkit-box-align: center;
              align-items: center;
      display: -webkit-box;
      display: flex;
      margin-left: 10px; }

.prom-cell__icon {
  overflow: hidden;
  padding: 0.25rem;
  vertical-align: middle;
  width: auto; }
  .prom-cell__icon.prom-cell__header > span {
    /* screen reader only */
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; }
  .prom-cell__icon .prom-cell__icon-content {
    display: -webkit-box;
    display: flex; }
    .prom-cell__icon .prom-cell__icon-content > span {
      -webkit-box-align: center;
              align-items: center;
      display: -webkit-box;
      display: flex;
      margin-left: 10px; }

.prom-cell__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  overflow: hidden;
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto; }
  .prom-cell__text .prom-text-cell--plain {
    color: #333333; }
  .prom-cell__text .prom-text-cell--light {
    color: #333333; }
  .prom-cell__text .prom-text-cell--status-positive {
    color: #0055B0;
    font-weight: 600;
    text-transform: uppercase; }
  .prom-cell__text .prom-text-cell--status-negative {
    color: #9A3814;
    font-weight: 600;
    text-transform: uppercase; }
  .prom-cell__text .prom-text-cell--status-neutral {
    color: #333333;
    font-weight: 600;
    text-transform: uppercase; }
  .prom-cell__text .prom-text-cell--title {
    font-size: 14px;
    font-weight: 600; }
  .prom-cell__text .prom-text-cell--header-hidden {
    /* screen reader only */
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; }

.prom-cell__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  overflow: hidden;
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto; }
  .prom-cell__text .prom-text-cell--plain {
    color: #333333; }
  .prom-cell__text .prom-text-cell--light {
    color: #333333; }
  .prom-cell__text .prom-text-cell--status-positive {
    color: #0055B0;
    font-weight: 600;
    text-transform: uppercase; }
  .prom-cell__text .prom-text-cell--status-negative {
    color: #9A3814;
    font-weight: 600;
    text-transform: uppercase; }
  .prom-cell__text .prom-text-cell--status-neutral {
    color: #333333;
    font-weight: 600;
    text-transform: uppercase; }
  .prom-cell__text .prom-text-cell--title {
    font-size: 14px;
    font-weight: 600; }
  .prom-cell__text .prom-text-cell--header-hidden {
    /* screen reader only */
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px; }

.prom-cell__text .prom-text-cell--plain {
  color: #333333; }

.prom-cell__text .prom-text-cell--light {
  color: #757575; }

.prom-cell__text .prom-text-cell--status-positive {
  color: #2879C7; }

.prom-cell__text .prom-text-cell--status-negative {
  color: #BF5000; }

.prom-cell__text .prom-text-cell--status-neutral {
  color: #757575; }

@media only screen and (min-width: 480px) {
  .contentarea-action-list > .prom-button-dropdown > .prom-dropdown {
    left: -170px;
    position: absolute;
    top: 55px; } }

.contentarea-action-list .prom-dropdown__footer {
  -webkit-box-align: center;
          align-items: center;
  background: #F4F4F4;
  border-radius: 4px;
  display: -webkit-box;
  display: flex;
  height: 36px;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 10px;
  width: calc(100% - 20px); }
  @media only screen and (min-width: 480px) {
    .contentarea-action-list .prom-dropdown__footer {
      margin: initial;
      margin-top: 10px;
      width: 100%; } }
  .contentarea-action-list .prom-dropdown__footer:hover {
    padding: 0; }
  .contentarea-action-list .prom-dropdown__footer > section {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    height: inherit;
    width: 100%; }
  .contentarea-action-list .prom-dropdown__footer > section:hover {
    background-color: #ECECEC;
    border-radius: 4px; }

.contentarea-action-list a.prom-dropdown__footer-link {
  -webkit-box-align: center;
          align-items: center;
  border: 3px solid transparent;
  border-radius: 8px;
  color: #756372;
  display: -webkit-box;
  display: flex;
  height: inherit;
  -webkit-box-pack: center;
          justify-content: center;
  width: inherit; }
  .contentarea-action-list a.prom-dropdown__footer-link:focus {
    border: 3px solid #2879C7;
    outline: 0; }

.contentarea-feedback .contentarea-feedback__more-info {
  color: #0055B0;
  padding: 0 2px 0.18;
  background-color: transparent;
  border: 0;
  margin-left: 2px; }
  .contentarea-feedback .contentarea-feedback__more-info:focus {
    border-radius: 4px;
    box-shadow: 0 0 0 3px #2879C7;
    outline: none; }
  .contentarea-feedback .contentarea-feedback__more-info:hover {
    color: #00458F; }
  .contentarea-feedback .contentarea-feedback__more-info:active {
    color: #00458F; }
  .contentarea-feedback .contentarea-feedback__more-info:visited {
    color: #754587; }
    .contentarea-feedback .contentarea-feedback__more-info:visited:hover {
      color: #754587; }
    .contentarea-feedback .contentarea-feedback__more-info:visited:active {
      color: #754587; }

.contentarea-feedback .prom-list {
  border: 1px solid #ECECEC;
  border-radius: 6px;
  overflow: hidden; }

.contentarea-feedback tbody > .prom-list-element:hover {
  background: white; }

.prom-banner__close {
  font: 400 1em Arial; }

.prom-banner--loading {
  background-color: #ECF8FF; }
  .prom-banner--loading .prom-banner__icon {
    -webkit-animation: spin 1s steps(8, end) infinite;
            animation: spin 1s steps(8, end) infinite;
    background-image: url("../../Common/semiotic/icons/spinner--blue--700.440d3fa4.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    margin-left: 18px;
    margin-right: 8px;
    width: 32px; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.prom-banner--success {
  background-color: #ECF8FF; }
  .prom-banner--success .prom-banner__icon {
    background-color: #0055B0;
    background-image: url("../../Common/semiotic/icons/check--white.260b5568.svg");
    background-position: center;
    background-size: 20px;
    border-radius: 50%; }


/*# sourceMappingURL=modern.bundle.css.map*/