header h1 {
    color: rgb(125, 162, 255);
    text-align: center;
}

main {
    height: 70vh;
}

header {
    height: 10vh;
}

footer {
    height: 10vh;
}
#verden {
    height: 70vh;

}

#himmel {
    position: relative;
    height: 75%;
    background-color: rgb(152, 152, 255);
}

#jord {
    position: relative;
    height: 25%;
    background-color: rgb(181, 141, 89);
}

#person {
    position: absolute;
    left: -100px;
    bottom: 30px;
    height: 120px;
    width: 30px;
    background-color: grey;
    border-radius: 7px;
    animation: slide 55s linear;
}
@keyframes slide {
 100% {left: 100vw; }
}
#skjelett {
    position: absolute;
    right: 100px;
    bottom: 0px;
    height: 90px;
    width: 130px;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-image: url(Skeleton.png);
    background-position: center;
    background-size: contain;

}

#fugl {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-image: url(../posisjon/fuggel.png);
    background-position: center;
    background-size: contain;
}

#busk {
    position: absolute;
    left: 130px;
    bottom: 50px;
    height: 110px;
    width: 110px;
    background-repeat: no-repeat;
    background-image: url(Dead_Bush.png);
    background-position: center;
    background-size: contain;
}

#sol {
    position: absolute;
    top: calc((50%) - (100px));
    left: calc((50%) - (20px));
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
    animation: flimmer 2s infinite linear alternate;
}
@keyframes flimmer {
    100% {width: 45px; height: 45px;};
}

